.bg-3 {
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
.active>a {
    color: #1abc9c !important;;
  }
.table th {
    text-align: center;
  }
  .table {
      border-radius: 5px;
      width: 50%;
      margin: 0px auto;
      float: none;
  }
  .center_div{
    margin: 0 auto;
    width:30% /* value of your choice which suits your alignment */
}
